# Week 3 Assignment
* Download the "Week_3_Assignment.ipynb" notebook 
* Fill in the code in the cells marked with `# YOUR ANSWER HERE:` by answering the question/task defined in the cell above it starting with `GRADED:`
* Code cells outside of `# YOUR ANSWER HERE:` will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it!

In [1]:
# IMPORT NECESSARY LIBRARIES AND DATA
import pandas as pd
import numpy as np
arr = np.arange(72).reshape(9, 8)
data_url = 'https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv'
london_df = pd.read_csv(data_url)
london_df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
0,2002,Q1,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,Q1,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,Q1,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,Q1,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,Q1,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1

GRADED SECTION A

1. Determine the shape, number of dimensions and type of elements in the numpy array arr
2. Determine the sum of all elements in arr
3. Determine the mean of all elements in arr
4. Create an array of the same shape as arr but filled with zeros
5. Create an array of the same shape as arr but filled with ones
6. Create an array of the same shape as arr but where all elements are the square root values
7. Create an array result of shape 9 by 9 resulting from multiplication of arr with transpose(arr). Hint: use np.dot

In [6]:
# YOUR SECTION A ANSWER HERE (please use comments to number each of your answers)
import numpy as np
import pandas as pd

#### Question 1 ##############
# Creating an array 'arr'
#arr = np.arange(72).reshape(9, 8)
print ('The array is',arr)

# Find the shape of array
print ('The shape of array is',arr.shape) 

# Find the dimension of array
print ('The dimensions of array is',arr.ndim)  # 2 dimensional array

#Type of Elements
print ('Type of elements in the array is ',arr.dtype) # integer elements

#Size of the array
print('The size of array is', arr.size)


#### Question 2 ##########
#Sum of all elements in the array
print('The sum of all elemets in the array is ',np.sum(arr)) 

#### Question 3 ##########
#Mean of all elements in the array
print('The mean of array elements is ',np.mean(arr))

#### Question 4 ##########
# Create a new array of same size filled with zeros
arr_zeros = arr.copy()
arr_zeros.fill(0)
print('The new array has been created with all 0 elements \n',arr_zeros)


#### Question 5 ########
# Create a new array of same size filled with zeros
arr_ones = arr.copy()
arr_ones.fill(1)
print('The new array has been created with all 1 elements \n',arr_ones)

#### Question 6 #######
# create a new array with elements as square root of elements in arr
arr_sqrt = np.sqrt(arr)

print('The new array with square root of original element is created as: \n',arr_sqrt)


#### Question 7 #######

# Create transpose of array 
arr_transpose = np.transpose(arr)
print('The transpose of two dimensional array is \n', arr_transpose)

# Creating a new arry by multiplying transpose with original array 
arr_dot = np.dot(arr, arr_transpose) 

print('The new matrix created by multiplication is \n' , arr_dot)
print('The shape of newly created matrix is \n', arr_dot.shape)

GRADED SECTION B

The dataframe `london_df` loads the `Number of International Visitors to London Dataset` from https://data.london.gov.uk/dataset/number-international-visitors-london
The dataset has already been loaded for you in the first code cell above.
 1. Print the number of rows of the dataframe (ideally, you should format the print to put the thousands comma separator--as in `23,400` instead of `23400`
 2. Print the names of all the columns of the dataframe
 3. Print the 20th row of the dataframe
 4. For the 3rd quarter (Q3) of 2017, what is the most popular duration of stay (`dur_stay`) by market, purpose, and mode?
 5. In the whole dataset, which market had the lowest total quarterly visits to London?
 6. What were the most preferred modes for visitors from `Singapore` in all of 2018?
 7. Which market was the source of the most visitss for Business purpose in 2017?

In [ ]:
# YOUR SECTION B ANSWER HERE (please use comments to number each of your answers)
#### Question 1 ########
count_row = london_df.shape[0] 
print('The number of rows in a dataframe are',f"{count_row:,d}",'\n\n')


#### Question 2 - The name of all columen in the dataframe
print(list(london_df))

#### Question 3 - Show 20th row in the dataframe
print('The 20th row in the dataframe is \n',london_df.iloc[20], '\n\n')

#### Question 4 

data_dur_stay = london_df[(london_df['year'] == 2017) & (london_df['quarter'] == 'Q3')].groupby('dur_stay').size().reset_index(name='count').sort_values('count',ascending= False).head(1)
print('1-3 nights is the most popular durationn of stay in Q3 2017 \n',data_dur_stay, '\n\n')

#### Question 5 

df_filter2 = london_df.groupby(['market']).size().reset_index(name='count').sort_values('count', ascending = True).head(2)
print('Other Unknown Areas had ONLY VISIT in Q3 so it shows the lowest visists among all, \n Serbia stands on a second position, which had visited London in all Quarters with a count of 137 only \n', df_filter2,'\n\n')

#### Question 6 
df_filter = london_df[(london_df['year'] == 2018) & (london_df['market'] == 'Singapore')].groupby(['mode']).size().reset_index(name='count')
print('Air and Tunnel were the most prefered modes from Singapore in 2018 \n')
print(df_filter,'\n\n')


#### Question 7
source_market = london_df[(london_df['year'] == 2017) & (london_df['purpose'] == 'Business')].groupby(['year', 'purpose', 'market']).size().reset_index(name='count').sort_values('count', ascending = False).head(1)
print('The source of most visits in 2017 for Business Purpose was --> \n',source_market)

# Project

- USE Pandas Profiling to creat EDA on your data set of choice (the one that you picked for your project)
https://github.com/pandas-profiling/pandas-profiling
- Creat at least 2 columns using groupby and transform and add it to your database

In [ ]:
## EDA using Pandas Profiling
import pandas as pd
import pandas_profiling as pp
from pandas_profiling import ProfileReport

Census_Data = pd.read_csv('Census_Data_Updated.csv')

#from IPython.core.display import display, HTML
#profile = ProfileReport(Census_Data, title='Pandas Profiling Report  for Census Data', html={'style':{'full_width':True}} )

profile = ProfileReport(Census_Data)

#display.HTML(report.to_html())
#inner_html = report.to_html().replace('"', "&quot;")
#html = '<iframe srcdoc="{}" width=1200 height=1200>'.format(inner_html)
#display(HTML(inner_html))


## Total population of each country irrespective to the states
Census_Data['TotalPopulation_EachCountry'] = Census_Data.groupby('County', sort=False)["TotalPop"].transform('sum')
Census_Data.head(20) 

## Total population of State
Census_Data['TotalPopulation_State'] = Census_Data.groupby('State', sort=False)["TotalPop"].transform('sum')

## Total Number of citizens in each state of a country
Census_Data['TotalNumberOfCitizens_StateCountry'] = Census_Data.groupby(['State','County'], sort=False)["Citizen"].transform('sum')

##Writing the updated columns to the file
Census_Data.to_csv (r'Census_Data_Updated_Assignment3.csv', index = False, header=True)

# Optinal

 Use beautiful Soup to scrape a webpage of your choice and extract clean information from it.

In [ ]:
# BEautiful Soup

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import csv


#Working with data from the official website of the National Gallery of Art in the United States
# I'm going to pull limited data from this site ( Artists names starting letter 'J')

# Collect first page of artists’ list
page = requests.get('https://web.archive.org/web/20121007172955/https://www.nga.gov/collection/anJ1.htm')

# Create a BeautifulSoup object
b_soup = BeautifulSoup(page.text, 'html.parser')

# Removing the unwanted information, the links which does not navigate to artists information
#decomposing the "AlphaNav" class

last_links = b_soup.find(class_='AlphaNav')
last_links.decompose()

# Create a .csv file to write to, add headers row
f = csv.writer(open('J-artist-names_BeautifulSoup.csv', 'w'))
f.writerow(['Name', 'Link'])

# Pull all text from the BodyText div
artist_name_list = b_soup.find(class_='BodyText')

# Pull text from all instances of <a>- hyperlink tag tag within BodyText div
artist_name_list_items = artist_name_list.find_all('a')

# Create for loop to print out only  artists' names from <a> links
for artist_name in artist_name_list_items:
   # print(artist_name.prettify())
    names = artist_name.contents[0]  # get the artists names
    links = 'https://web.archive.org' + artist_name.get('href')  # get the hyperlink of the artist names
    print (names)
    print (links)
    f.writerow([names, links]) # Writing the data into .csv file